
/* Your CSS Code here. */
.moviePic{
    display: block;
    height:500vh;
    width:500vw;
    opacity: 20px;
    align-items: center;
}
.movieDetail{
    position:absolute;
    width: 500px;;
    text-align:center;
    font-size:larger;
}